body {
    font-family: 'Audiowide';
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(280px,  420px) 1fr;
    grid-template-rows: 1fr 1fr 42px 1fr; 
    gap: 40px;
    overflow: hidden;
    background: linear-gradient(180deg, #F6F7F9 0%, #E9ECF5 100%);
}

.display {
    grid-area: 1/2/2/3;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    grid-area: 3/2/3/3;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEEF6;
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.5), 4px 4px 10px rgba(22, 25, 36, 0.1);
    border-radius: 32px;
    padding: 10px 42px;
    cursor: pointer;
}

.btn--active {
    background: #EBEEF6;
    box-shadow: inset -4px -2px 4px #FFFFFF, inset 4px 4px 4px rgba(22, 25, 36, 0.1);
    border-radius: 32px;
    cursor: not-allowed;
}

.timer-btns-box {
    text-align: center;
    grid-area: 2/2/3/3;
    display: none;
    flex-direction: column;
    gap: 15px;    
}

.timer-btns-box--active {
    display: flex;
}

.timer-btns-box input {
    align-self: center;
}

.timer-btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}